body {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  background-color: rgba(195, 230, 248, 0.2);
}

* {
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0px;
  right: 0px;
  left: 0px;
  background: rgba(65, 100, 118, 0.9);
  z-index: 2;
}

#navList {
  list-style: none;
  display: flex;
}

.navLink {
  display: block;
  padding-top: 2.5rem;
  padding-right: 1.2rem;
  margin-bottom: -0.5rem;
}

.navLink {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

.navLink:hover {
  color: rgb(255, 0, 154);
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#welcome-section {
  height: 120vh;
  margin-top: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: rgb(55, 90, 108);
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

#heart {
  position: relative;
  background-color: rgb(255, 0, 154);
  height: 6rem;
  width: 6rem;
  border-radius: 3%;
  transform: rotate(135deg);
  top: 2.5rem;
  margin: auto;
  cursor: pointer;
  z-index: 1;
}

#heart::before {
  position: absolute;
  content: "";
  background-color: rgb(255, 0, 154);
  height: 6rem;
  width: 6rem;
  top: 2.5rem;
  border-radius: 50%;
}

#heart::after {
  position: absolute;
  content: "";
  background-color: rgb(255, 0, 154);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  right: 2.5rem;
}

#heart.beat {
  animation-name: start;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes start {
  0% {
    transform: scale(1) rotate(135deg);
  }
  50% {
    transform: scale(0.6) rotate(135deg);
  }
}

#heart.enable {
  animation-name: explosion;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes explosion {
  99% {
    transform: scale(10) rotate(135deg);
    opacity: 0;
    top: 25rem;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#arrow {
  position: relative;
  top: 0.5rem;
  text-align: center;
  font-size: 4rem;
}

#instruct {
  position: relative;
  margin-top: -4rem;
  text-align: center;
}

#textP {
  margin-top: -5rem;
}

p {
  font-size: 1.6rem;
  text-align: justify;
  padding-bottom: 0.5rem;
}

#textP.reveal {
  animation-name: show;
  animation-duration: 5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}

/*start of image carousel*/
h2 {
  position: relative;
  padding-top: 0.4rem;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 0, 154);
}

#carousel {
  width: 70rem;
  height: 45rem;
  position: relative;
  margin: auto;
  background-color: rgba(55, 90, 108, 0.9);
}

.pose {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.yoga {
  display: block;
  margin: auto;
  width: 70%;
}

#buttonContainer {
  position: relative;
  width: 70%;
  margin: auto;
  bottom: 22rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  #buttonContainer {
    bottom: 7rem;
  }
}

.buttons {
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(255, 0, 154);
  border-radius: 3%;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  transition: background-color 0.5s;
  user-select: none;
}

@media (max-width: 750px) {
  .buttons {
    font-size: 2rem;
  }
}

.buttons:hover {
  background-color: rgba(255, 0, 154, 0.15);
}

#playPause {
  cursor: pointer;
  font-size: 3.5rem;
  border: solid;
  border-radius: 25%;
  border-width: 0.1rem;
  padding-top: 0.5rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  color: rgba(255, 255, 255, 0);
}

#playPause.start {
  color: rgb(255, 0, 154);
  background-color: rgba(255, 0, 154, 0.15);
}

#playPause:hover {
  color: rgb(255, 0, 154);
  background-color: rgba(255, 0, 154, 0.15);
}

@media (max-width: 750px) {
  #playPause {
    font-size: 1rem;
    padding-top: 1.3rem;
  }
}

#dotContainer {
  position: relative;
  text-align: center;
  bottom: 11rem;
}

@media (max-width: 750px) {
  #dotContainer {
    bottom: 6rem;
  }
}

.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.2rem;
  background-color: rgba(255, 0, 154, 0.2);
  display: inline-block;
  border-radius: 50%;
  border: solid;
  border-color: rgb(255, 0, 154);
  border-width: 0.05rem;
  transition: background-color 1.5s;
}

@media (max-width: 750px) {
  .dot {
    height: 0.35rem;
    width: 0.35rem;
  }
}

.active,
.dot:hover {
  background-color: rgba(255, 0, 154, 1);
}

.captionText {
  position: relative;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(255, 0, 154);
  padding-top: 1.6rem;
}

@media (max-width: 750px) {
  .captionText {
    font-size: 0.65rem;
  }
}
/*end of image carousel*/

#projects {
  color: rgb(55, 90, 108);
  margin-top: 10rem;
}

#links1 {
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-gap: 1.2rem;
  justify-content: space-between;
}

#links2 {
  padding-top: 1.2rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 15% 32% 32% 15%;
  grid-gap: 1.2rem;
  justify-content: space-between;
}

.blank {
  background: rgba(195, 230, 248, 0);
  height: 15rem;
}

.project {
  background: rgba(55, 90, 108, 0.9);
  height: 25rem;
  border: solid;
  border-width: 0.16rem;
  border-color: rgba(55, 90, 108, 0.9);
}

.project-pic {
  width: 100%;
  display: block;
  height: 20rem;
}

.project-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.project:hover {
  border-color: rgb(255, 0, 154);
}

.project:hover .project-title {
  color: rgb(255, 0, 154);
}

#contact {
  background-color: rgba(55, 90, 108, 0.9);
}

#conH {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

#buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem 8rem 2rem 3rem;
}

.conBtn {
  width: 5rem;
  border: solid;
  border-width: 0.13rem;
  border-color: rgb(255, 0, 154);
}

.conBtn:hover {
  transform: scale(1.1);
}
